<h1>Edit moderator</h1>

<!-- by passing an object as instance it is possible to use the render evrywhere -->

<% if @moderator.errors.any? %>
  <div id="validation_errors">
    <h2><%= pluralize(@moderator.errors.count, "error") %> prohibited a successful save: </h2>
 
    <ul>
    <% @moderator.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

  </div>
<% end %>

<%= form_for [:admin, @moderator] do |f| %>

	<p>
		<%= f.label :fullname %>
		<%= f.text_field :fullname %>
	</p>
	
	<p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>
	
	<p>
		<%= f.label :password %>
		<%= f.text_field :password %>
	</p>

	<p>
		<%= f.submit %>
	</p>
	

<% end %>



