<h1>Notifications#index</h1>

<!-- delete all notifications when click on this link -->
<%= 
	if Notification.any?
		link_to 'Dismiss all', dismiss_all_notifications_path, method: :delete
	end

%>

<!-- display all notifications -->
<% @visitor_notifications.each do |n| %>
	<p>
		<%=  "#{n.notifiable.fullname} added as a new visitor #{time_ago(n.notifiable.created_at)}" %>
		<%= link_to 'Dismiss', admin_notification_path(n), method: :delete, data:{confirm: 'Are you sure ?'} %>
	</p>

<% end -%>


<!-- display all notifications's visitor -->
<% @comment_notifications.each do |c| %>

	<p>
		<%=  "#{c.notifiable.visitor.fullname} added a comment #{time_ago(c.notifiable.created_at)}" %>
		<%= link_to 'Dismiss', admin_notification_path(c), method: :delete, data:{confirm: 'Are you sure ?'} %>
	</p>

<% end -%>


