<h1>Admin::Tags#edit</h1>
<p> <%= link_to 'Home', login_path %></p>
<%= form_for [:admin, @tag] do |f| %>

	<p><%= f.label :name %></p>
	<p><%= f.text_field :name %></p>
	<p><%= f.submit %></p>

<% end %>
