<h1>Admin::Tags#new</h1>

<%= form_for [:admin, @tag] do |f| %>

	<p>
		<%= f.text_area :name, placeholder: 'e.g Ruby, python, Php' %>
		<%= f.submit %>
	</p>

<% end -%>

<table class="table table-bordered table-hover">
	<thead>
		
		<tr>
			<th>name</th>
			<th>status</th>
			<th>created</th>
			<th>actions</th>
		</tr>

	</thead>

	<tbody>
		<% @tags.each do |t| %>
		<tr>
			<td><%= t.name %></td>
			<td><%= t.in_use? %></td>
			<td><%= time_ago(t.created_at) %></td>
			<td>
				
			</td>
		</tr>

		<% end %>
	</tbody>
	


</table>