<h1>Admin::Tags#new</h1>

<%= form_for [:admin, @tag] do |f| %>

	<p>
		<%= f.text_area :name, placeholder: 'e.g Ruby, python, Php' %><br>
		<%= f.submit %>
	</p>

<% end -%>

<table class="table table-bordered table-hover">
	<thead>
		
		<tr>
			<th>name</th>
			<th>status</th>
			<th>created</th>
			<th>actions</th>
		</tr>

	</thead>

	<tbody>
		<% @tags.each do |t| %>
		<tr>
			<td><%= t.name %></td>
			<td><%= status_converter(t.in_use?, truthy: "In use", falsey: "not in use") %></td>
			<td><%= time_ago(t.created_at) %></td>

			<td>
				<%= link_to edit_admin_tag_path(t) do %>
					<button type="button">Edit</button>
				<% end -%> 

				<%= create_deletable_button(t) %>
			</td>
		</tr>

		<% end %>
	</tbody>
	
</table>

<p><%= paginate @tags %></p>