<h1>Admin::Posts#index</h1>

<p><%= link_to 'New post', new_admin_post_path %></p>

<%= form_tag(admin_posts_path, method: :get) do %>

	<p>
		<%= text_field_tag :search %>
		<%= submit_tag 'search' %>

	</p>

<% end %>

<table class="table table-bordered table-hover">
	<thead>
		
		<tr>
			<th>title</th>
			<th>publish</th>
			<th>actions</th>
		</tr>

	</thead>
	<tbody>
		<% @posts.each do |p| %>
		<tr>
			<!-- Truncate allow us to cut down long sentence -->
			<td><%= truncate(p.title, length: 60, separate: '') %></td>
			<td><%=  status_converter(p.publish, truthy: 'Active', falsey: 'Pending') %></td>
			<td>
				<%= link_to 'Edit', edit_admin_post_path(p) %>|
				<%= link_to 'Show', admin_post_path(p) %>|
				<%= link_to 'Delete', admin_post_path(p), method: :delete, data: {confirm: "Are you sure ?"} %>
			</td>
		</tr>

		<% end %>
	</tbody>
</table>
<p><%= paginate @posts %></p>