<h1>Posts#show</h1>

<%= link_to 'All posts', posts_path %>

<p>
	<%= @post.title %><br>
	<%= time_ago(@post.created_at) %><br>
</p>

<p>
	<%= @post.content %>br
</p>

<h3>Comments</h3>

	<p>
		<% @post.comments.approved.each_with_index do |comment, index| %>
			<%= comment.message %><b>  <%= double_digit_number(index) %></b><br>
			<b><%= comment.visitor.fullname %> </b> commented: <%= time_ago(comment.created_at) %><br>
		<% end %>
	</p>
<hr>

<h3>Have something to say</h3>

<%= form_for @visitor_comment, url: comments_path do |f| %>

		<% if session[:visitor_errors] %>
			<div class="error_explanations">
				<h2><%= pluralize(session[:visitor_errors].count, "error") %> prohibited this comment from being saved: </h2>

				<ul>
					<% session[:visitor_errors].each do |message| %> 
						<li><%= message %></li>
					<% end -%>
				</ul>
			</div>
		<% end %>
		
		<p>
			<%= f.label :fullname %><br>
			<%= f.text_field :fullname %>
		</p>

		<p>
			<%= f.label :email%><br>
			<%= f.text_field :email %>
		</p>

		<%= f.fields_for :comments do |c| %>

			<%= c.label :message %><br>
			<%= c.text_area :message %>
			<%= c.hidden_field :post_id, value: @post.id %>

		<% end %>

		<p>
			<%= f.submit 'Add comment' %>
		</p>	

<% end %>
	
