<!DOCTYPE html>
<html>
  <head>
    <title>OfficialBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %> </div>
      <% end %>

      <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %> </div>
      <% end %>

      <%= link_to 'Log out test', logout_path %><br>

      <%= link_to 'Posts', admin_posts_path %> | <%= link_to 'Moderators', admin_moderators_path %> | <%= link_to 'tags', new_admin_tag_path %> | <%= link_to 'Comments', admin_comments_path %>

    <%= yield %>
  </body>
</html>
